/*************************************/
/*=========     GENERAL    =========*/
/***********************************/
.boxed {
  max-width: 1200px;
  margin: 0 auto;
  font-family: $main-font;
}
section{
  padding: 80px 0;
  text-align: center;
  .title{
    font-family: $title-font;
    font-size: 2em;
    text-transform: uppercase;
  }
  .subtitle{
    font-size: 1.5em;
  }
  article{
    .title{
      font-size: 18px;
    }
  }
}

.back-color-1{
  background-color: $main-back-color;
  color: #fff !important;
}

.back-color-2{
  background-color: $second-back-color;
  color: #fff !important;
}

.back-color-img{
  background-image: url("../assets/consultoria.jpg");
  background-size: cover;
}

.btn-electromilenio {
  display: inline-block;
  margin: 20px;
  padding: 5px;
  width: 80px;
  height: 35px;
  border: 2px solid $main-color;
  background-color: transparent;
  a {
    text-decoration: none;
    color: $main-color;
    &.hover{
      color: $main-color;  
    }
  }
}

/*************************************/
/*=========     HEADER     =========*/
/***********************************/
header{
  position: relative;
  .carousel-caption-mod {
    position: absolute;
    top: 20%;
    left: 10%;
    .title{
    font-size: 3em;
    }
    .subtitle{
      font-size: 2em;
    }
  }  
  .navbar-default{
    background-color: $second-color;
    border-color: $second-color;
    border-radius: 0;
    margin: 0;
    .navbar-header{
      .navbar-brand > img {
        max-width: 250px;
        max-height: 80px; 
      }
    }
    .navbar-collapse{
      padding: 30px;
      .navbar-nav > li > a{
        color: #fff;
        &.hover{
          color: #fff;
        }
      }
    }
  }
}

/***********************************/
/*=========   NOSOTROS   =========*/
/*********************************/
#our{
  .btn-electromilenio {
    border-color: #fff;
    a {
      text-decoration: none;
      color: #fff;
      &.hover{
        color: #fff;  
      }
    }
  }
}

/****************************************/
/*=========  ILUMINACION LED  =========*/
/**************************************/


/******************************************/
/*=========     CONSULTORÍA     =========*/
/****************************************/


/**************************************/
/*=========     ENERGÍA     =========*/
/************************************/


/***************************************/
/*=========     CONTACTO     =========*/
/*************************************/
#contact {
  padding-bottom: 0;
  p {
    display: inline-block;
  }
  .icon {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    height: 40px;
    &.facebook{
      background-color: #3b5998;
    }
    &.linkedin{
      background-color: #007bb5;
    }
  }
}