/*************************************/
/*=========     GENERAL    =========*/
/***********************************/
.boxed {
  max-width: 1200px;
  margin: 0 auto;
  font-family: $main-font;
}
section{
  padding: 80px 0;
  text-align: center;
  .title{
    font-family: $title-font;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .subtitle{
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  article{
    .title{
      font-size: 18px;
    }
  }
  p{
    line-height: 2em;
  }
}

.back-color-1{
  background-color: $main-back-color;
  color: #fff !important;
}

.back-color-2{
  background-color: $second-back-color;
  color: #fff !important;
}

.back-color-img{
  background-image: url("../assets/consultoria.jpg");
  background-size: cover;
}

%btn-electromilenio {
  display: inline-block;
  margin: 20px 0;
  padding: 7px 10px;
  width: 80px;
  height: 35px;
  border: 2px solid $main-color;
  background-color: transparent;
  a {
    text-decoration: none;
    color: $main-color;
    &.hover{
      color: $main-color;  
    }
  }
}

/*************************************/
/*=========     HEADER     =========*/
/***********************************/
header{
  position: relative;
  .carousel-caption-mod {
    position: absolute;
    top: 20%;
    left: 10%;
    .title{
    font-size: 3em;
    }
    .subtitle{
      font-size: 2em;
    }
  }  
  .navbar-default{
    background-color: $second-color;
    border-color: $second-color;
    border-radius: 0;
    margin: 0;
    .navbar-header{
      .navbar-brand > img {
        max-width: 250px;
        max-height: 80px; 
      }
    }
    .navbar-toggle {
      border-color: #6798c5;
      top: 35px;
      color: #fff;
      &.hover{
        background-color: #6798c5;
      }
    }
    .navbar-collapse{
      padding: 30px;
      .navbar-nav > li > a{
        color: #fff;
        &.hover{
          color: #fff;
        }
      }
    }
  }
}

/***********************************/
/*=========   NOSOTROS   =========*/
/*********************************/
#our{
  .btn-electromilenio {
    @extend %btn-electromilenio;
    border-color: #fff;
    a {
      text-decoration: none;
      color: #fff;
      &.hover{
        color: #fff;  
      }
    }
  }
}

/****************************************/
/*=========  ILUMINACION LED  =========*/
/**************************************/
#led {
  article{
    margin: 20px 0;
    i {
      float: left;
    }
    .article-led-desc{
      width: 60%;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      .btn-electromilenio{
        @extend %btn-electromilenio;
      }
      p{
        line-height: 1.5em;
      }
    }
  }
}

/******************************************/
/*=========     CONSULTORÍA     =========*/
/****************************************/
#consultancy{
  ul {
    display: inline-block;
    li {
      margin-bottom: 10px;
    }
  }
}

/**************************************/
/*=========     ENERGÍA     =========*/
/************************************/


/***************************************/
/*=========     CONTACTO     =========*/
/*************************************/
#contact {
  padding-bottom: 0;
  text-align: left;
  p {
    display: inline-block;
    line-height: 4.5em;
  }
  .icon {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    &.facebook{
      background-color: #3b5998;
    }
    &.linkedin{
      background-color: #007bb5;
    }
  }
  img {
    max-width: 100%;
    margin-top: 30px;
  }
  .data-message{
    box-sizing: border-box;
    width: 48%;
    margin-left: 15px;
  }
  .data-social{
    margin-top: 10px;
  }
  .form-group{
    label{
      margin-bottom: 5px;
    }
  }
  .btn-electromilenio{
    @extend %btn-electromilenio;
    border-color: #fff;
    padding: 4px 10px;
    button{
      border: none;
      background: transparent;
      color: #fff;
    }
  }
}

/*************************************/
/*=========     FOOTER     =========*/
/***********************************/
footer{
  padding: 15px 0;
}