/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1152px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1152px) {
	.col-md-12, .col-md-8, .col-md-6, .col-md-4,
	.col.lg-12, .col.lg-8, .col.lg-6, .col.lg-4,
	.col.sm-12, .col.sm-8, .col.sm-6, .col.sm-4,
	.col.xs-12, .col.xs-8, .col.xs-6, .col.xs-4 {
			width: 100% !important;
	}
	#contact .data-message{
		margin:0;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	header {
		.navbar-header{
			min-height: 110px;
		}        
	}
	#contact .data-message{
		width: 100%;
		margin:0;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#led {
		article{
			.article-led-desc{
				width: 50%;
			}
		}
	}
}