// Fonts
$main-font: 'electromilenio-text';
$second-font: 'electromilenio-text-italic';
$title-font: 'electromilenio-title';
// Colors
$main-color: #6798c5;
$second-color: #434142;
// Backgrounds Colors
$main-back-color: #434142;
$second-back-color: #6798c5;

