@charset "UTF-8";
/* CSS Document  */
/* Project name: Electromilenio */
/* File name: styles.css */
/* Description: Hoja de estilos global */
/* Creation date: Diciembre de 2016 */
/* Author: Juan Daniel Bonforti */
/* Author's eMail: juan.bonforti@gmail.com */
@font-face {
  font-family: 'electromilenio-title';
  src: url("../fonts/title/EurostileExtended.eot");
  src: url("../fonts/title/EurostileExtended.eot") format("embedded-opentype"), url("../fonts/title/EurostileExtended.woff") format("woff"), url("../fonts/title/EurostileExtended.woff2") format("woff2"), url("../fonts/title/EurostileExtended.ttf") format("truetype"), url("../fonts/title/EurostileExtended.svg#EurostileExtended") format("svg"); }
@font-face {
  font-family: 'electromilenio-text';
  src: url("../fonts/text/HelveticaNeue-Thin.eot");
  src: url("../fonts/text/HelveticaNeue-Thin.eot") format("embedded-opentype"), url("../fonts/text/HelveticaNeue-Thin.woff") format("woff"), url("../fonts/text/HelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/text/HelveticaNeue-Thin.ttf") format("truetype"), url("../fonts/text/HelveticaNeue-Thin.svg#HelveticaNeue-Thin") format("svg"); }
@font-face {
  font-family: 'electromilenio-text-italic';
  src: url("../fonts/text_italic/HelveticaNeue-LightCondObl.eot");
  src: url("../fonts/text_italic/HelveticaNeue-LightCondObl.eot") format("embedded-opentype"), url("../fonts/text_italic/HelveticaNeue-LightCondObl.woff") format("woff"), url("../fonts/text_italic/HelveticaNeue-LightCondObl.woff2") format("woff2"), url("../fonts/text_italic/HelveticaNeue-LightCondObl.ttf") format("truetype"), url("../fonts/text_italic/HelveticaNeue-LightCondObl.svg#HelveticaNeue-LightCondObl") format("svg"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "electromilenio-text";
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.col-md-12, .col-md-8, .col-md-6, .col-md-4,
.col.lg-12, .col.lg-8, .col.lg-6, .col.lg-4,
.col.sm-12, .col.sm-8, .col.sm-6, .col.sm-4,
.col.xs-12, .col.xs-8, .col.xs-6, .col.xs-4 {
  padding: 0px; }

/*************************************/
/*=========     GENERAL    =========*/
/***********************************/
.boxed {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "electromilenio-text"; }

section {
  padding: 80px 0;
  text-align: center; }
  section .title {
    font-family: "electromilenio-title";
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 30px; }
  section .subtitle {
    font-size: 1.5em;
    margin-bottom: 30px; }
  section article .title {
    font-size: 18px; }
  section p {
    line-height: 2em; }

.back-color-1 {
  background-color: #434142;
  color: #fff !important; }

.back-color-2 {
  background-color: #6798c5;
  color: #fff !important; }

.back-color-img {
  background-image: url("../assets/consultoria.jpg");
  background-size: cover; }

#our .btn-electromilenio, #led article .article-led-desc .btn-electromilenio, #contact .btn-electromilenio {
  display: inline-block;
  margin: 20px 0;
  padding: 7px 10px;
  width: 80px;
  height: 35px;
  border: 2px solid #6798c5;
  background-color: transparent; }
  #our .btn-electromilenio a, #led article .article-led-desc .btn-electromilenio a, #contact .btn-electromilenio a {
    text-decoration: none;
    color: #6798c5; }
    #our .btn-electromilenio a.hover, #led article .article-led-desc .btn-electromilenio a.hover, #contact .btn-electromilenio a.hover {
      color: #6798c5; }

/*************************************/
/*=========     HEADER     =========*/
/***********************************/
header {
  position: relative; }
  header .carousel-caption-mod {
    position: absolute;
    top: 20%;
    left: 10%; }
    header .carousel-caption-mod .title {
      font-size: 3em; }
    header .carousel-caption-mod .subtitle {
      font-size: 2em; }
  header .navbar-default {
    background-color: #434142;
    border-color: #434142;
    border-radius: 0;
    margin: 0; }
    header .navbar-default .navbar-header .navbar-brand > img {
      max-width: 250px;
      max-height: 80px; }
    header .navbar-default .navbar-toggle {
      border-color: #6798c5;
      top: 35px;
      color: #fff; }
      header .navbar-default .navbar-toggle.hover {
        background-color: #6798c5; }
    header .navbar-default .navbar-collapse {
      padding: 30px; }
      header .navbar-default .navbar-collapse .navbar-nav > li > a {
        color: #fff; }
        header .navbar-default .navbar-collapse .navbar-nav > li > a.hover {
          color: #fff; }

/***********************************/
/*=========   NOSOTROS   =========*/
/*********************************/
#our .btn-electromilenio {
  border-color: #fff; }
  #our .btn-electromilenio a {
    text-decoration: none;
    color: #fff; }
    #our .btn-electromilenio a.hover {
      color: #fff; }

/****************************************/
/*=========  ILUMINACION LED  =========*/
/**************************************/
#led article {
  margin: 20px 0; }
  #led article i {
    float: left; }
  #led article .article-led-desc {
    width: 60%;
    text-align: left;
    display: inline-block;
    vertical-align: top; }
    #led article .article-led-desc p {
      line-height: 1.5em; }

/******************************************/
/*=========     CONSULTORÍA     =========*/
/****************************************/
#consultancy ul {
  display: inline-block; }
  #consultancy ul li {
    margin-bottom: 10px; }

/**************************************/
/*=========     ENERGÍA     =========*/
/************************************/
/***************************************/
/*=========     CONTACTO     =========*/
/*************************************/
#contact {
  padding-bottom: 0;
  text-align: left; }
  #contact p {
    display: inline-block;
    line-height: 4.5em; }
  #contact .icon {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    width: 40px;
    height: 40px; }
    #contact .icon.facebook {
      background-color: #3b5998; }
    #contact .icon.linkedin {
      background-color: #007bb5; }
  #contact img {
    max-width: 100%;
    margin-top: 30px; }
  #contact .data-message {
    box-sizing: border-box;
    width: 48%;
    margin-left: 15px; }
  #contact .data-social {
    margin-top: 10px; }
  #contact .form-group label {
    margin-bottom: 5px; }
  #contact .btn-electromilenio {
    border-color: #fff;
    padding: 4px 10px; }
    #contact .btn-electromilenio button {
      border: none;
      background: transparent;
      color: #fff; }

/*************************************/
/*=========     FOOTER     =========*/
/***********************************/
footer {
  padding: 15px 0; }

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1152px) {
  .col-md-12, .col-md-8, .col-md-6, .col-md-4,
  .col.lg-12, .col.lg-8, .col.lg-6, .col.lg-4,
  .col.sm-12, .col.sm-8, .col.sm-6, .col.sm-4,
  .col.xs-12, .col.xs-8, .col.xs-6, .col.xs-4 {
    width: 100% !important; }

  #contact .data-message {
    margin: 0; } }
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header .navbar-header {
    min-height: 110px; }

  #contact .data-message {
    width: 100%;
    margin: 0; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #led article .article-led-desc {
    width: 50%; } }

/*# sourceMappingURL=style.css.map */
